.HomePage {
  text-align: center;
}

.HomePage-logo {
  animation: HomePage-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.HomePage-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.HomePage-link {
  color: #61dafb;
}

@keyframes HomePage-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.HomePage-title {
  background-color: rgb(104, 96, 92);
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: "10px" ;
  text-align: center;
}

.background {
  background-image: url("/image_fond.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.police_color {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color : white
}

.links {
  color: white;
}

